<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="JsonConsole" target="SYSTEM_OUT">
            <JsonLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true">
                <KeyValuePair key="service" value="${env:DD_SERVICE:-dogbank}"/>
                <KeyValuePair key="env" value="${env:DD_ENV:-production}"/>
                <KeyValuePair key="version" value="${env:DD_VERSION:-v1}"/>
            </JsonLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="JsonConsole"/>
        </Root>
        
        <Logger name="com.dogbank" level="debug" additivity="false">
            <AppenderRef ref="JsonConsole"/>
        </Logger>
        
        <Logger name="org.springframework" level="warn"/>
        <Logger name="org.hibernate" level="warn"/>
        <Logger name="org.apache.catalina" level="warn"/>
    </Loggers>
</Configuration>
