<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender com JSON Layout -->
        <Console name="ConsoleJSON" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
        </Console>
    </Appenders>
    
    <Loggers>
        <!-- Logger específico para TransactionService -->
        <Logger name="com.dogbank.transaction.service.TransactionService" level="info" additivity="false">
            <AppenderRef ref="ConsoleJSON"/>
        </Logger>
        
        <!-- Logger para todo o pacote transaction -->
        <Logger name="com.dogbank.transaction" level="info" additivity="false">
            <AppenderRef ref="ConsoleJSON"/>
        </Logger>
        
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="ConsoleJSON"/>
        </Root>
    </Loggers>
</Configuration>